<html>
  <head>
  </head>
  <body>
    <table>
      <tr>
        <td>
        {% for token in game.hand_player_1 %}
          {{ token }} |
        {% endfor %}
        </td>
        <td>
          {{ game.player_1.name }} <br />
        </td>
        <td>
        {% for token in game.hand_player_2 %}
          {{ token }} |
        {% endfor %}
        </td>
        <td>
          {{ game.player_2.name }} <br />
        </td>
      </tr>
    </table>
    <form action="{% url 'user-play-turn' game.id_game current_id_player %}" method="POST">
      {% csrf_token %}
      <table>
        {% for line in game.gameboard %}
        <tr>
          {% for token in line %}
          <td>
            [{{ forloop.counter }};{{ forloop.parentloop.counter }}]
            <input id="gameboard_{{ forloop.counter }}_{{ forloop.parentloop.counter }}"
                   name="gameboard_{{ forloop.counter }}_{{ forloop.parentloop.counter }}"
                   type="text"
                   value="{{ token }}"
                   size="4"/>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <input id="player_valide" type="submit" value="Valide" />
    </form>
  </body>
</html>
