<html>
  <head>
  </head>
  <body>
    <table>
      <tr>
        <td>
        {% for token in game.hand_player_1 %}
          {{ token }} |
        {% endfor %}
        </td>
        <td>
          {{ game.player_1.name }} <br />
          <input id="player1_valide" type="button" value="Valide" />
        </td>
        <td>
        {% for token in game.hand_player_2 %}
          {{ token }} |
        {% endfor %}
        </td>
        <td>
          {{ game.player_2.name }} <br />
          <input id="player2_valide" type="button" value="Valide" />
        </td>
      </tr>
    </table>
    <table>
      {% for line in game.gameboard %}
      <tr>
        {% for token in line %}
        <td>
          [{{ forloop.counter }};{{ forloop.parentloop.counter }}]
          <input id="gameboard_{{ forloop.counter }}_{{ forloop.parentloop.counter }}" type="text" value="{{ token }}" size="4"/>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
